
<h4>Orders</h4>
<div class="row row-header">
    <div class="col-1 padding">&nbsp;</div>
    <div class="col-4 padding">Cursomer Name</div>
    <div class="col-4 padding">Ordered Date</div>
    <div class="col-3 padding">View</div>
</div>
<div class="row row-body" *ngFor="let order of orders$ | async;
     let odd=odd; let even=even; let iindex = index;"
     [ngClass]="{ odd: odd, even: even }">

    <div class="col-1">{{ iindex+1 }}.</div>
    <div class="col-4">{{ order.shipping.name }}</div>
    <div class="col-4">{{ order.datePlaced | date }}</div>
    <div class="col-3">
      <a [routerLink]="['/admin/orders/', order.$key]">
        <i class="fa fa-eye" aria-hidden="true"></i>
        View
      </a>
    </div>
</div>


